<div class="continer home">

	<div class="row home__about_image"></div>
	<div class="row home__title justify-content-center">
		<h3 class="col-auto">Storytellersとは</h3>
	</div>

	<div class="row home__title justify-content-center">
		<div class="card-deck col-10">
		  <div class="card text-center">
		    <img src="<%= asset_path "search.jpg" %>" class="bd-placeholder-img card-img-top img-fluid" width="100%" height="200"></img>
		    <div class="card-body">
		      <h5 class="card-title">語り部さんを探す</h5>
		      <p class="card-text">地域からでも<br>
				テーマからでも</p>
		    </div>
		  </div>
		  <div class="card text-center">
		    <img src="<%= asset_path "mail.jpg" %>" class="bd-placeholder-img card-img-top img-fluid" width="100%" height="200"></img>
		    <div class="card-body">
		      <h5 class="card-title">コンタクトをとる</h5>
		      <p class="card-text">メールでやりとり</p>
		      <p class="card-text"><small class="text-muted">会員登録した方のみです</small></p>
		    </div>
		  </div>
		  <div class="card text-center">
		    <img src="<%= asset_path "blog.jpg" %>" class="bd-placeholder-img card-img-top img-fluid" width="100%" height="200"></img>
		    <div class="card-body">
		      <h5 class="card-title">学ぶ</h5>
		      <p class="card-text">語り部さんのブログやSNSを覗けます</p>
		    </div>
		  </div>
		</div>
	</div>

	<div class="row home__title justify-content-center">
		<h3 class="col-auto">Storytellersをご利用するにあたって</h3>
	</div>
	<div class="row home__title justify-content-center">
		<div class="card col-8">
		  <div class="card-body">
		    <p class="card-text">
		    	・マナーを守って交流しましょう。<br>
		    	<br>
		    	・Storytelersはあくまで、交流サイトでです。語り部さんのツアー料金や受け渡し方法については、語り部さんによって異なります。詳細は語り部さんに直接聞きましょう。<br><br>
		    	・語り部さんにツアーをお願いする際は、必要な道具や、注意事項をしっかり聞きましょう。<br>
		    </p>
		  </div>
		</div>
	</div>

</div>