
.home {
  width: 100%;
  color: #0B6480;

  &__top_image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: image-url("kouyasann.jpg");
  }

  &__about_image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: image-url("erabu1.jpg");
  }

  &__row {
	padding-top: 5px;
	padding-bottom: 5px;
  }

  &__title {
	padding-top: 30px;
	padding-bottom: 20px;
  }
    &__card {
  margin-top: 50px;
  margin-bottom: 50px;
  }

   &__tag {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #c0da74;
    transition: .4s;
   }
   &__tag:hover {
    background: #1ec7bb;
   }

   &__profile_img {
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 10px 10px 10px;
  }

  &__search_image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: image-url("tumago1.jpg");
  }

   &__table {
  margin-left: 10%;
  margin-right:  10%;
  }

   &__search_card {
  margin: 1% 1% 1% 2%;
  background: rgba(0,0,0,0.5);
  }

   &__table_profile_img {
  border-radius: 50%;
  object-fit: cover;
  }

}